*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    --extremities-color: rgb(66, 117, 65);
}

header,
footer{
    background-color: var(--extremities-color);
}

header{
    min-height: 10vh;
}

footer{
    min-height: 15vh;
}

#main{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    height: 100%;
}

#games-container{
    display: flex;
    width: 100%;
}

.game{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game h2{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 16px;
}

.game-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-auto-rows: 1fr;
    border: 2px solid black;
    outline: 4px solid gray;

    height: 40vh;
    width: 40vh;
}

.tile{
    border: 1px solid black;
}

.tile:hover{
    background-color: lightgray;
}

.tile.player-is-hit{
    background-color: red;
}

.tile.computer-is-hit{
    background-color: lightgreen;
}

.tile.miss{
    background-color: gray;
}