*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    --extremities-color: rgb(66, 117, 65);
}

header,
footer{
    background-color: var(--extremities-color);
}

header{
    min-height: 10vh;
}

footer{
    min-height: 15vh;
}

#main{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    height: 100%;

    --overlay-color: rgba(0,0,0,0.7);
    --game-grid-length: 40vh;
}

#games-container{
    display: flex;
    width: 100%;
}

.game{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game h2{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 16px;
}

.game-grid
,#selection-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-auto-rows: 1fr;
    border: 2px solid black;
    outline: 4px solid gray;

    height: var(--game-grid-length);
    width: var(--game-grid-length);

    gap: 1px;
    padding: 1px;
}

.tile{
    border: 1px solid black;
}

.tile:hover{
    background-color: lightgray;
}

.tile.hit{
    background-color: red;
}

.tile.miss{
    background-color: lightblue;
}

.tile.starting-hover{
    background-color: lightgreen;
}

.tile.set-color{
    background-color: darkgreen;
}

.tile.set-color.hit{
    background-color: red;
}

#person-wins-container{
    background-color: var(--overlay-color);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;

    display: none;
    justify-content: center;
    align-items: center;
}

#person-wins-container.visible{
    display: flex;
}

#win-box{
    width: 100%;
    max-width: 800px;
    height: 100%;
    max-height: 400px;

    background-color: white;

    border: 4px solid black;
    border-radius: 12px;

    font-size: 2.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#win-box button{
    width: 100%;
    max-width: 256px;
    height: 100%;
    max-height: 64px;
    margin-top: 24px;

    font-size: 1.5rem;

    border-radius: 12px;

    cursor: pointer;
}

#win-box button:hover{
    background-color: rgb(188, 188, 243)
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    background-color: var(--overlay-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay.invisible{
    display: none;
}

#player-grid-selection-container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    background-color: white;
    border: 4px solid black;
    border-radius: 12px;

    font-size: 1.5rem;
}

#player-grid-selection-top{
    display: flex;
}

#player-grid-selection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: calc(var(--game-grid-length) + 5vw);
    height: calc(var(--game-grid-length) + 10vh);
}

#start-game-button{
    font-size: 1.5rem;
    padding: 8px 24px;
    margin-bottom: 24px;
    border-radius: 12px;
    cursor: pointer;
    background-color: lightgreen;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#start-game-button:hover{
    background-color: darkgreen;
    color: white;
}


#player-grid-selection h2,
#ships-title-container{
    margin-bottom: 16px;
}

#ship-selection{
    height: calc(var(--game-grid-length) + 10vh);
    width: 20vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-left: 3vw;
}

#ships-container{
    height: var(--game-grid-length);
    width: 100%;

    border: 2px solid black;
    outline: 4px solid gray;

    padding: 8px;

    display: grid;
    gap: 8px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
}

.ship{
    border: 1px solid black;
    border-radius: 12px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
}

.ship.done{
    background-color: lightgreen;
}


.ship-dot{
    border: 1px solid black;
    border-radius: 50%;
    width: 50%;
    height: 50%;
    background-color: red;
}

.ship-dot.empty{
    background-color: transparent;
    border: none;
}

.ship:hover .ship-dot:not(.empty){
    background: lightblue;
}

#ships-title-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}